---
import Layout from "../layouts/Layout.astro";

const calendlyUrl = "https://calendly.com/lifebridgeguidance/30min";
const contactEmail = "hi@lifebridgeguidance.com";
---

<Layout title="LifeBridge Guidance - Family Loss Concierge Services">
	<!-- ==================== HEADER ==================== -->
	<header class="fixed top-0 left-0 right-0 z-50 bg-white/95 backdrop-blur-sm border-b border-slate-200/50">
		<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="flex items-center justify-between h-16 md:h-20">
				<!-- Logo -->
				<a href="/" class="flex items-center gap-2 group">
					<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="1536px" height="1024px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" xmlns:xlink="http://www.w3.org/1999/xlink">
<g><path style="opacity:1" fill="#4f7ca8" d="M 631.5,367.5 C 628.004,366.244 624.837,366.911 622,369.5C 621.692,368.692 621.192,368.025 620.5,367.5C 618.775,368.015 617.108,368.682 615.5,369.5C 615.709,370.086 616.043,370.586 616.5,371C 615.584,371.278 614.918,371.778 614.5,372.5C 607.916,368.376 600.916,365.042 593.5,362.5C 590.361,363.57 587.361,364.904 584.5,366.5C 583.402,365.603 583.402,364.77 584.5,364C 582.5,363.333 581.167,362 580.5,360C 578.687,360.046 577.021,359.88 575.5,359.5C 574.252,360.04 573.085,360.707 572,361.5C 571.536,360.906 571.369,360.239 571.5,359.5C 578.355,354.656 585.855,350.99 594,348.5C 606.686,354.426 619.186,360.76 631.5,367.5 Z"/></g>
<g><path style="opacity:1" fill="#f8f8f9" d="M 614.5,372.5 C 646.457,388.811 678.124,405.645 709.5,423C 673.487,442.674 637.154,461.841 600.5,480.5C 598.435,480.953 596.768,481.953 595.5,483.5C 592.092,482.633 588.758,481.467 585.5,480C 564.125,468.312 542.458,457.145 520.5,446.5C 506.229,438.695 491.895,430.862 477.5,423C 506.911,406.629 536.577,390.795 566.5,375.5C 572.783,373.025 578.783,370.025 584.5,366.5C 587.361,364.904 590.361,363.57 593.5,362.5C 600.916,365.042 607.916,368.376 614.5,372.5 Z"/></g>
<g><path style="opacity:1" fill="#4c77a7" d="M 571.5,359.5 C 571.369,360.239 571.536,360.906 572,361.5C 573.085,360.707 574.252,360.04 575.5,359.5C 577.021,359.88 578.687,360.046 580.5,360C 581.167,362 582.5,363.333 584.5,364C 583.402,364.77 583.402,365.603 584.5,366.5C 578.783,370.025 572.783,373.025 566.5,375.5C 565.178,375.67 564.011,375.337 563,374.5C 560.68,377.419 557.846,378.419 554.5,377.5C 553.576,375.61 552.243,374.11 550.5,373C 552.001,371.748 553.668,370.748 555.5,370C 554.584,369.722 553.918,369.222 553.5,368.5C 559.217,364.975 565.217,361.975 571.5,359.5 Z"/></g>
<g><path style="opacity:1" fill="#4d77a8" d="M 787.5,368.5 C 801.327,369.331 815.327,369.831 829.5,370C 823.5,370.333 817.5,370.667 811.5,371C 808.529,372.086 806.863,374.252 806.5,377.5C 804.401,375.466 802.068,375.132 799.5,376.5C 798.167,377.5 798.167,378.5 799.5,379.5C 796.232,380.487 792.898,380.82 789.5,380.5C 789.5,381.5 789.5,382.5 789.5,383.5C 783.922,384.654 782.588,383.154 785.5,379C 785.167,378.667 784.833,378.333 784.5,378C 786.275,376.561 788.275,375.561 790.5,375C 791.641,374.259 791.641,373.425 790.5,372.5C 786.117,371.107 781.617,370.44 777,370.5C 770.662,371.41 764.495,371.41 758.5,370.5C 768.122,369.781 777.789,369.114 787.5,368.5 Z"/></g>
<g><path style="opacity:1" fill="#507ca7" d="M 787.5,368.5 C 823.691,367.595 859.691,369.762 895.5,375C 907.104,376.905 918.438,379.405 929.5,382.5C 926.132,385.973 925.298,389.973 927,394.5C 927.483,393.552 927.649,392.552 927.5,391.5C 931.601,391.798 934.267,390.132 935.5,386.5C 936.93,386.579 938.264,386.246 939.5,385.5C 941.772,387.651 944.439,389.151 947.5,390C 949.51,392.374 951.51,394.707 953.5,397C 952.833,397.333 952.167,397.667 951.5,398C 953.577,398.807 955.411,399.974 957,401.5C 958.721,399.282 960.888,397.615 963.5,396.5C 963.023,395.522 962.357,394.689 961.5,394C 961.833,393.667 962.167,393.333 962.5,393C 964.638,393.559 966.638,393.392 968.5,392.5C 1047.79,417.629 1118.46,457.463 1180.5,512C 1151.19,492.153 1120.86,473.486 1089.5,456C 1012.88,415.014 931.209,391.681 844.5,386C 819.797,385.234 795.131,385.901 770.5,388C 749.429,390.093 728.429,392.426 707.5,395C 698.343,390.588 689.343,385.922 680.5,381C 706.293,375.867 732.293,372.367 758.5,370.5C 764.495,371.41 770.662,371.41 777,370.5C 781.617,370.44 786.117,371.107 790.5,372.5C 791.641,373.425 791.641,374.259 790.5,375C 788.275,375.561 786.275,376.561 784.5,378C 784.833,378.333 785.167,378.667 785.5,379C 782.588,383.154 783.922,384.654 789.5,383.5C 789.5,382.5 789.5,381.5 789.5,380.5C 792.898,380.82 796.232,380.487 799.5,379.5C 798.167,378.5 798.167,377.5 799.5,376.5C 802.068,375.132 804.401,375.466 806.5,377.5C 806.863,374.252 808.529,372.086 811.5,371C 817.5,370.667 823.5,370.333 829.5,370C 815.327,369.831 801.327,369.331 787.5,368.5 Z"/></g>
<g><path style="opacity:1" fill="#4b76a7" d="M 929.5,382.5 C 942.711,385.015 955.711,388.348 968.5,392.5C 966.638,393.392 964.638,393.559 962.5,393C 962.167,393.333 961.833,393.667 961.5,394C 962.357,394.689 963.023,395.522 963.5,396.5C 960.888,397.615 958.721,399.282 957,401.5C 955.411,399.974 953.577,398.807 951.5,398C 952.167,397.667 952.833,397.333 953.5,397C 951.51,394.707 949.51,392.374 947.5,390C 944.439,389.151 941.772,387.651 939.5,385.5C 938.264,386.246 936.93,386.579 935.5,386.5C 934.267,390.132 931.601,391.798 927.5,391.5C 927.649,392.552 927.483,393.552 927,394.5C 925.298,389.973 926.132,385.973 929.5,382.5 Z"/></g>
<g><path style="opacity:1" fill="#4d7aa8" d="M 553.5,368.5 C 553.918,369.222 554.584,369.722 555.5,370C 553.668,370.748 552.001,371.748 550.5,373C 552.243,374.11 553.576,375.61 554.5,377.5C 557.846,378.419 560.68,377.419 563,374.5C 564.011,375.337 565.178,375.67 566.5,375.5C 536.577,390.795 506.911,406.629 477.5,423C 491.895,430.862 506.229,438.695 520.5,446.5C 520.134,447.695 519.301,448.361 518,448.5C 514.485,448.922 511.485,447.589 509,444.5C 503.768,446.597 502.268,449.931 504.5,454.5C 493.299,448.442 481.966,442.775 470.5,437.5C 473.212,435.215 472.879,434.548 469.5,435.5C 467.667,434.948 466,434.115 464.5,433C 467.306,432.008 469.972,430.675 472.5,429C 471.692,428.692 471.025,428.192 470.5,427.5C 470.606,423.949 471.273,420.283 472.5,416.5C 477.326,416.277 482.326,415.777 487.5,415C 482.497,411.384 477.33,410.884 472,413.5C 471.329,412.748 470.496,412.414 469.5,412.5C 497.434,397.865 525.434,383.198 553.5,368.5 Z"/></g>
<g><path style="opacity:1" fill="#4b76a7" d="M 593.5,393.5 C 598.625,393.531 603.625,394.364 608.5,396C 611.756,397.116 614.422,398.949 616.5,401.5C 615.761,401.369 615.094,401.536 614.5,402C 616.487,403.319 617.654,405.152 618,407.5C 618.914,406.346 619.747,406.513 620.5,408C 619.3,410.677 617.633,410.677 615.5,408C 614.167,407.333 612.833,407.333 611.5,408C 612.833,409.84 612.666,410.34 611,409.5C 610.517,410.448 610.351,411.448 610.5,412.5C 603.949,412.551 599.282,409.551 596.5,403.5C 595.808,404.025 595.308,404.692 595,405.5C 594.311,404.643 593.478,403.977 592.5,403.5C 591.359,405.421 591.192,407.421 592,409.5C 596.846,412.869 597.513,416.869 594,421.5C 593.389,417.728 592.389,417.728 591,421.5C 588.443,420.354 587.11,421.354 587,424.5C 585.956,423.377 585.29,422.044 585,420.5C 582.082,424.758 580.082,429.425 579,434.5C 574.553,441.302 569.886,441.635 565,435.5C 564.069,433.541 563.236,431.541 562.5,429.5C 563.59,427.997 564.757,427.664 566,428.5C 568.559,418.197 573.059,408.697 579.5,400C 579.167,399.667 578.833,399.333 578.5,399C 580.126,399.195 581.793,399.195 583.5,399C 583.93,398.08 584.264,397.247 584.5,396.5C 585.541,398.991 586.374,398.991 587,396.5C 589.191,397.214 591.524,397.547 594,397.5C 594.448,395.776 595.282,395.109 596.5,395.5C 595.398,394.824 594.398,394.158 593.5,393.5 Z"/></g>
<g><path style="opacity:1" fill="#4c77a3" d="M 593.5,393.5 C 594.398,394.158 595.398,394.824 596.5,395.5C 595.282,395.109 594.448,395.776 594,397.5C 591.524,397.547 589.191,397.214 587,396.5C 586.374,398.991 585.541,398.991 584.5,396.5C 584.264,397.247 583.93,398.08 583.5,399C 581.793,399.195 580.126,399.195 578.5,399C 578.833,399.333 579.167,399.667 579.5,400C 573.059,408.697 568.559,418.197 566,428.5C 564.757,427.664 563.59,427.997 562.5,429.5C 563.236,431.541 564.069,433.541 565,435.5C 569.886,441.635 574.553,441.302 579,434.5C 580.082,429.425 582.082,424.758 585,420.5C 585.29,422.044 585.956,423.377 587,424.5C 587.11,421.354 588.443,420.354 591,421.5C 592.389,417.728 593.389,417.728 594,421.5C 597.513,416.869 596.846,412.869 592,409.5C 591.192,407.421 591.359,405.421 592.5,403.5C 593.478,403.977 594.311,404.643 595,405.5C 595.308,404.692 595.808,404.025 596.5,403.5C 599.282,409.551 603.949,412.551 610.5,412.5C 610.351,411.448 610.517,410.448 611,409.5C 612.666,410.34 612.833,409.84 611.5,408C 612.833,407.333 614.167,407.333 615.5,408C 617.633,410.677 619.3,410.677 620.5,408C 619.747,406.513 618.914,406.346 618,407.5C 617.654,405.152 616.487,403.319 614.5,402C 615.094,401.536 615.761,401.369 616.5,401.5C 626.3,407.785 630.134,416.785 628,428.5C 620.005,446.255 606.172,453.755 586.5,451C 566.022,446.538 557.522,434.038 561,413.5C 567.489,399.836 578.322,393.17 593.5,393.5 Z"/></g>
<g><path style="opacity:1" fill="#4b76a6" d="M 470.5,437.5 C 470.5,447.5 470.5,457.5 470.5,467.5C 469.732,468.263 469.232,469.263 469,470.5C 468.464,460.135 468.464,449.802 469,439.5C 468.236,443.945 467.07,448.278 465.5,452.5C 466.312,454.623 466.978,456.79 467.5,459C 464.852,470.838 464.852,482.672 467.5,494.5C 467.087,497.232 466.42,499.899 465.5,502.5C 465.179,509.291 465.179,516.124 465.5,523C 463.649,532.389 462.816,541.889 463,551.5C 464.421,554.009 466.088,556.343 468,558.5C 469.11,556.963 470.61,556.297 472.5,556.5C 472.5,557.5 472.5,558.5 472.5,559.5C 473.822,559.67 474.989,559.337 476,558.5C 476.333,559.167 476.667,559.833 477,560.5C 477.278,559.584 477.778,558.918 478.5,558.5C 499.109,569.139 519.775,579.805 540.5,590.5C 540.157,592.225 539.157,592.725 537.5,592C 537.833,591.667 538.167,591.333 538.5,591C 534.396,588.614 530.062,586.781 525.5,585.5C 524.959,588.652 525.959,591.152 528.5,593C 532.25,593.26 535.916,593.927 539.5,595C 542.529,598.24 546.196,600.574 550.5,602C 548.431,602.324 548.098,603.158 549.5,604.5C 547.915,607.224 547.248,609.89 547.5,612.5C 518.761,597.963 490.095,583.129 461.5,568C 458.789,566.739 456.622,564.906 455,562.5C 454.333,515.167 454.333,467.833 455,420.5C 459.619,417.44 464.453,414.774 469.5,412.5C 470.496,412.414 471.329,412.748 472,413.5C 477.33,410.884 482.497,411.384 487.5,415C 482.326,415.777 477.326,416.277 472.5,416.5C 471.273,420.283 470.606,423.949 470.5,427.5C 471.025,428.192 471.692,428.692 472.5,429C 469.972,430.675 467.306,432.008 464.5,433C 466,434.115 467.667,434.948 469.5,435.5C 472.879,434.548 473.212,435.215 470.5,437.5 Z"/></g>
<g><path style="opacity:1" fill="#4c7ca7" d="M 720.5,413.5 C 723.869,415.515 727.202,417.515 730.5,419.5C 729.711,419.783 729.044,420.283 728.5,421C 730.049,426.005 730.882,431.171 731,436.5C 731.333,432.833 731.667,429.167 732,425.5C 732.667,436.5 732.667,447.5 732,458.5C 731.667,458.167 731.333,457.833 731,457.5C 730.333,460.833 730.333,464.167 731,467.5C 731.333,466.167 731.667,464.833 732,463.5C 732.667,480.833 732.667,498.167 732,515.5C 731.667,513.833 731.333,512.167 731,510.5C 730.333,516.5 730.333,522.5 731,528.5C 731.333,528.167 731.667,527.833 732,527.5C 732.667,536.167 732.667,544.833 732,553.5C 731.667,552.5 731.333,551.5 731,550.5C 730.027,552.392 729.36,554.392 729,556.5C 728.026,554.122 727.359,554.456 727,557.5C 726.085,556.672 725.419,555.672 725,554.5C 722.101,556.273 719.434,558.273 717,560.5C 716.167,560.333 715.333,560.167 714.5,560C 715.791,556.975 715.124,556.641 712.5,559C 712.957,559.414 713.291,559.914 713.5,560.5C 712.115,562.826 710.948,565.159 710,567.5C 709.626,566.584 709.126,565.75 708.5,565C 707.065,565.311 705.732,565.145 704.5,564.5C 703.41,565.391 703.41,566.391 704.5,567.5C 702.665,568.428 702.332,569.594 703.5,571C 700.985,573.619 698.151,573.786 695,571.5C 692.646,572.042 690.146,572.209 687.5,572C 687.201,573.32 687.034,574.82 687,576.5C 686.333,575.167 685.667,575.167 685,576.5C 684.233,579.2 683.067,581.7 681.5,584C 683.01,584.85 684.51,585.683 686,586.5C 687.373,585.485 688.54,585.485 689.5,586.5C 681.854,591.326 673.854,595.659 665.5,599.5C 665.389,598.883 665.056,598.383 664.5,598C 665.672,597.581 666.672,596.915 667.5,596C 665.835,596.744 664.169,596.577 662.5,595.5C 659.234,592.948 656.067,590.948 653,589.5C 649.932,591.179 649.766,593.179 652.5,595.5C 651.184,596.807 650.184,598.307 649.5,600C 651.303,600.637 652.636,601.803 653.5,603.5C 656.746,601.961 659.912,600.294 663,598.5C 663.383,599.056 663.883,599.389 664.5,599.5C 657.314,604.261 649.647,608.261 641.5,611.5C 640.761,611.631 640.094,611.464 639.5,611C 641.67,609.414 644.004,608.08 646.5,607C 644.048,606.71 641.715,606.044 639.5,605C 640.167,604.667 640.833,604.333 641.5,604C 639.342,602.688 639.009,601.022 640.5,599C 639.529,597.519 638.196,596.685 636.5,596.5C 663.095,581.703 690.095,567.703 717.5,554.5C 717.832,515.33 717.499,476.33 716.5,437.5C 718.014,433.635 719.68,429.802 721.5,426C 720.978,425.05 720.311,424.216 719.5,423.5C 719.892,419.752 720.225,416.418 720.5,413.5 Z"/></g>
<g><path style="opacity:1" fill="#4c77a7" d="M 631.5,367.5 C 661.328,382.58 690.995,397.914 720.5,413.5C 720.225,416.418 719.892,419.752 719.5,423.5C 720.311,424.216 720.978,425.05 721.5,426C 719.68,429.802 718.014,433.635 716.5,437.5C 679.833,456.5 643.167,475.5 606.5,494.5C 606.062,494.565 605.728,494.399 605.5,494C 606.328,493.085 607.328,492.419 608.5,492C 607.167,491.333 607.167,490.667 608.5,490C 604.503,488.336 600.503,486.67 596.5,485C 598.751,484.252 600.084,482.752 600.5,480.5C 637.154,461.841 673.487,442.674 709.5,423C 678.124,405.645 646.457,388.811 614.5,372.5C 614.918,371.778 615.584,371.278 616.5,371C 616.043,370.586 615.709,370.086 615.5,369.5C 617.108,368.682 618.775,368.015 620.5,367.5C 621.192,368.025 621.692,368.692 622,369.5C 624.837,366.911 628.004,366.244 631.5,367.5 Z"/></g>
<g><path style="opacity:1" fill="#f9f9f9" d="M 470.5,437.5 C 481.966,442.775 493.299,448.442 504.5,454.5C 530.14,467.987 555.806,481.487 581.5,495C 583.439,495.908 584.439,497.408 584.5,499.5C 583.833,537.167 583.167,574.833 582.5,612.5C 581.609,611.89 580.609,611.557 579.5,611.5C 566.694,604.262 553.694,597.262 540.5,590.5C 519.775,579.805 499.109,569.139 478.5,558.5C 476.392,556.941 474.059,555.608 471.5,554.5C 470.5,525.508 470.167,496.508 470.5,467.5C 470.5,457.5 470.5,447.5 470.5,437.5 Z"/></g>
<g><path style="opacity:1" fill="#f8f9f9" d="M 716.5,437.5 C 717.499,476.33 717.832,515.33 717.5,554.5C 690.095,567.703 663.095,581.703 636.5,596.5C 628.009,600.578 619.676,604.912 611.5,609.5C 609.632,610.263 607.965,611.263 606.5,612.5C 606.167,612.5 605.833,612.5 605.5,612.5C 604.501,574.004 604.168,535.337 604.5,496.5C 605.167,495.833 605.833,495.167 606.5,494.5C 643.167,475.5 679.833,456.5 716.5,437.5 Z"/></g>
<g><path style="opacity:1" fill="#4874a1" d="M 470.5,467.5 C 470.167,496.508 470.5,525.508 471.5,554.5C 474.059,555.608 476.392,556.941 478.5,558.5C 477.778,558.918 477.278,559.584 477,560.5C 476.667,559.833 476.333,559.167 476,558.5C 474.989,559.337 473.822,559.67 472.5,559.5C 472.5,558.5 472.5,557.5 472.5,556.5C 470.61,556.297 469.11,556.963 468,558.5C 466.088,556.343 464.421,554.009 463,551.5C 462.816,541.889 463.649,532.389 465.5,523C 465.179,516.124 465.179,509.291 465.5,502.5C 466.42,499.899 467.087,497.232 467.5,494.5C 464.852,482.672 464.852,470.838 467.5,459C 466.978,456.79 466.312,454.623 465.5,452.5C 467.07,448.278 468.236,443.945 469,439.5C 468.464,449.802 468.464,460.135 469,470.5C 469.232,469.263 469.732,468.263 470.5,467.5 Z"/></g>
<g><path style="opacity:1" fill="#4d78a7" d="M 520.5,446.5 C 542.458,457.145 564.125,468.312 585.5,480C 588.758,481.467 592.092,482.633 595.5,483.5C 594.294,484.88 594.627,486.047 596.5,487C 595.74,488.441 595.074,489.941 594.5,491.5C 592.803,492.364 591.637,493.697 591,495.5C 589.23,494.724 587.397,494.89 585.5,496C 586.157,502.089 586.49,508.256 586.5,514.5C 586.724,522.732 586.058,530.732 584.5,538.5C 584.5,525.5 584.5,512.5 584.5,499.5C 584.439,497.408 583.439,495.908 581.5,495C 555.806,481.487 530.14,467.987 504.5,454.5C 502.268,449.931 503.768,446.597 509,444.5C 511.485,447.589 514.485,448.922 518,448.5C 519.301,448.361 520.134,447.695 520.5,446.5 Z"/></g>
<g><path style="opacity:1" fill="#4e7ca8" d="M 600.5,480.5 C 600.084,482.752 598.751,484.252 596.5,485C 600.503,486.67 604.503,488.336 608.5,490C 607.167,490.667 607.167,491.333 608.5,492C 607.328,492.419 606.328,493.085 605.5,494C 605.728,494.399 606.062,494.565 606.5,494.5C 605.833,495.167 605.167,495.833 604.5,496.5C 603.532,498.607 603.198,500.941 603.5,503.5C 602.778,503.918 602.278,504.584 602,505.5C 600.35,497.718 599.183,498.052 598.5,506.5C 597.614,505.675 597.281,504.675 597.5,503.5C 596.178,503.67 595.011,503.337 594,502.5C 590.153,512.783 589.819,523.116 593,533.5C 594,534.5 595,535.5 596,536.5C 596.833,535.5 597.667,534.5 598.5,533.5C 599.324,536.785 599.824,540.118 600,543.5C 601.259,536.394 602.426,529.394 603.5,522.5C 603.5,538.833 603.5,555.167 603.5,571.5C 602.778,571.918 602.278,572.584 602,573.5C 601.71,571.956 601.044,570.623 600,569.5C 599.818,572.226 599.318,574.893 598.5,577.5C 597.757,576.092 596.923,574.759 596,573.5C 594.027,574.64 592.193,575.973 590.5,577.5C 589.148,576.476 587.815,575.476 586.5,574.5C 585.711,583.644 585.045,596.644 584.5,613.5C 584.5,588.5 584.5,563.5 584.5,538.5C 586.058,530.732 586.724,522.732 586.5,514.5C 586.49,508.256 586.157,502.089 585.5,496C 587.397,494.89 589.23,494.724 591,495.5C 591.637,493.697 592.803,492.364 594.5,491.5C 595.074,489.941 595.74,488.441 596.5,487C 594.627,486.047 594.294,484.88 595.5,483.5C 596.768,481.953 598.435,480.953 600.5,480.5 Z"/></g>
<g><path style="opacity:1" fill="#527eac" d="M 441.5,478.5 C 442.8,480.223 443.467,482.39 443.5,485C 443.167,487.167 442.833,489.333 442.5,491.5C 411.102,509.193 381.435,529.36 353.5,552C 352.833,552.667 352.167,552.667 351.5,552C 378.816,523.892 408.816,499.392 441.5,478.5 Z"/></g>
<g><path style="opacity:1" fill="#4a76a7" d="M 603.5,503.5 C 603.5,509.833 603.5,516.167 603.5,522.5C 602.426,529.394 601.259,536.394 600,543.5C 599.824,540.118 599.324,536.785 598.5,533.5C 597.667,534.5 596.833,535.5 596,536.5C 595,535.5 594,534.5 593,533.5C 589.819,523.116 590.153,512.783 594,502.5C 595.011,503.337 596.178,503.67 597.5,503.5C 597.281,504.675 597.614,505.675 598.5,506.5C 599.183,498.052 600.35,497.718 602,505.5C 602.278,504.584 602.778,503.918 603.5,503.5 Z"/></g>
<g><path style="opacity:1" fill="#e7ecf2" d="M 584.5,499.5 C 584.5,512.5 584.5,525.5 584.5,538.5C 584.5,563.5 584.5,588.5 584.5,613.5C 583.508,613.672 582.842,613.338 582.5,612.5C 583.167,574.833 583.833,537.167 584.5,499.5 Z"/></g>
<g><path style="opacity:1" fill="#d9e1eb" d="M 604.5,496.5 C 604.168,535.337 604.501,574.004 605.5,612.5C 605.44,613.043 605.107,613.376 604.5,613.5C 603.501,602.52 603.168,591.52 603.5,580.5C 603.5,577.5 603.5,574.5 603.5,571.5C 603.5,555.167 603.5,538.833 603.5,522.5C 603.5,516.167 603.5,509.833 603.5,503.5C 603.198,500.941 603.532,498.607 604.5,496.5 Z"/></g>
<g><path style="opacity:1" fill="#557cab" d="M 730.5,419.5 C 732.335,420.122 733.502,421.456 734,423.5C 734.667,469.5 734.667,515.5 734,561.5C 733.044,562.579 732.211,563.745 731.5,565C 717.572,572.463 703.572,579.63 689.5,586.5C 688.54,585.485 687.373,585.485 686,586.5C 684.51,585.683 683.01,584.85 681.5,584C 683.067,581.7 684.233,579.2 685,576.5C 685.667,575.167 686.333,575.167 687,576.5C 687.034,574.82 687.201,573.32 687.5,572C 690.146,572.209 692.646,572.042 695,571.5C 698.151,573.786 700.985,573.619 703.5,571C 702.332,569.594 702.665,568.428 704.5,567.5C 703.41,566.391 703.41,565.391 704.5,564.5C 705.732,565.145 707.065,565.311 708.5,565C 709.126,565.75 709.626,566.584 710,567.5C 710.948,565.159 712.115,562.826 713.5,560.5C 713.291,559.914 712.957,559.414 712.5,559C 715.124,556.641 715.791,556.975 714.5,560C 715.333,560.167 716.167,560.333 717,560.5C 719.434,558.273 722.101,556.273 725,554.5C 725.419,555.672 726.085,556.672 727,557.5C 727.359,554.456 728.026,554.122 729,556.5C 729.36,554.392 730.027,552.392 731,550.5C 731.333,551.5 731.667,552.5 732,553.5C 732.667,544.833 732.667,536.167 732,527.5C 731.667,527.833 731.333,528.167 731,528.5C 730.333,522.5 730.333,516.5 731,510.5C 731.333,512.167 731.667,513.833 732,515.5C 732.667,498.167 732.667,480.833 732,463.5C 731.667,464.833 731.333,466.167 731,467.5C 730.333,464.167 730.333,460.833 731,457.5C 731.333,457.833 731.667,458.167 732,458.5C 732.667,447.5 732.667,436.5 732,425.5C 731.667,429.167 731.333,432.833 731,436.5C 730.882,431.171 730.049,426.005 728.5,421C 729.044,420.283 729.711,419.783 730.5,419.5 Z"/></g>
<g><path style="opacity:1" fill="#4a76a7" d="M 603.5,571.5 C 603.5,574.5 603.5,577.5 603.5,580.5C 602.526,588.175 602.026,595.842 602,603.5C 601.333,602.167 600.667,602.167 600,603.5C 599.667,606.167 599.333,608.833 599,611.5C 598.51,610.207 598.343,608.873 598.5,607.5C 596.516,607.383 594.85,608.05 593.5,609.5C 591.382,608.054 589.049,607.387 586.5,607.5C 586.298,605.011 586.798,602.677 588,600.5C 589,601.833 590,601.833 591,600.5C 592.922,597.144 592.755,593.978 590.5,591C 589.256,590.544 588.423,591.044 588,592.5C 587.667,592.167 587.333,591.833 587,591.5C 586.501,585.843 586.334,580.176 586.5,574.5C 587.815,575.476 589.148,576.476 590.5,577.5C 592.193,575.973 594.027,574.64 596,573.5C 596.923,574.759 597.757,576.092 598.5,577.5C 599.318,574.893 599.818,572.226 600,569.5C 601.044,570.623 601.71,571.956 602,573.5C 602.278,572.584 602.778,571.918 603.5,571.5 Z"/></g>
<g><path style="opacity:1" fill="#4c77a5" d="M 586.5,574.5 C 586.334,580.176 586.501,585.843 587,591.5C 587.333,591.833 587.667,592.167 588,592.5C 588.423,591.044 589.256,590.544 590.5,591C 592.755,593.978 592.922,597.144 591,600.5C 590,601.833 589,601.833 588,600.5C 586.798,602.677 586.298,605.011 586.5,607.5C 589.049,607.387 591.382,608.054 593.5,609.5C 594.85,608.05 596.516,607.383 598.5,607.5C 598.343,608.873 598.51,610.207 599,611.5C 599.333,608.833 599.667,606.167 600,603.5C 600.667,602.167 601.333,602.167 602,603.5C 602.026,595.842 602.526,588.175 603.5,580.5C 603.168,591.52 603.501,602.52 604.5,613.5C 605.107,613.376 605.44,613.043 605.5,612.5C 605.833,612.5 606.167,612.5 606.5,612.5C 609.598,612.413 609.932,612.913 607.5,614C 609.376,615.375 611.376,616.542 613.5,617.5C 610.603,621.608 611.603,622.941 616.5,621.5C 616.088,622.782 616.754,623.782 618.5,624.5C 610.263,628.786 601.93,632.786 593.5,636.5C 582.366,631.1 571.366,625.433 560.5,619.5C 559.708,618.033 559.708,616.7 560.5,615.5C 561.611,616.611 562.945,617.278 564.5,617.5C 567.025,615.845 568.691,614.012 569.5,612C 570.872,611.598 572.205,611.098 573.5,610.5C 573.833,611.167 574.167,611.833 574.5,612.5C 576.109,612.611 577.775,612.278 579.5,611.5C 580.609,611.557 581.609,611.89 582.5,612.5C 582.842,613.338 583.508,613.672 584.5,613.5C 585.045,596.644 585.711,583.644 586.5,574.5 Z"/></g>
<g><path style="opacity:1" fill="#4c7ca8" d="M 540.5,590.5 C 553.694,597.262 566.694,604.262 579.5,611.5C 577.775,612.278 576.109,612.611 574.5,612.5C 574.167,611.833 573.833,611.167 573.5,610.5C 572.205,611.098 570.872,611.598 569.5,612C 568.691,614.012 567.025,615.845 564.5,617.5C 562.945,617.278 561.611,616.611 560.5,615.5C 559.708,616.7 559.708,618.033 560.5,619.5C 555.973,617.405 551.639,615.072 547.5,612.5C 547.248,609.89 547.915,607.224 549.5,604.5C 548.098,603.158 548.431,602.324 550.5,602C 546.196,600.574 542.529,598.24 539.5,595C 535.916,593.927 532.25,593.26 528.5,593C 525.959,591.152 524.959,588.652 525.5,585.5C 530.062,586.781 534.396,588.614 538.5,591C 538.167,591.333 537.833,591.667 537.5,592C 539.157,592.725 540.157,592.225 540.5,590.5 Z"/></g>
<g><path style="opacity:1" fill="#4a75a7" d="M 665.5,599.5 C 665.167,599.5 664.833,599.5 664.5,599.5C 663.883,599.389 663.383,599.056 663,598.5C 659.912,600.294 656.746,601.961 653.5,603.5C 652.636,601.803 651.303,600.637 649.5,600C 650.184,598.307 651.184,596.807 652.5,595.5C 649.766,593.179 649.932,591.179 653,589.5C 656.067,590.948 659.234,592.948 662.5,595.5C 664.169,596.577 665.835,596.744 667.5,596C 666.672,596.915 665.672,597.581 664.5,598C 665.056,598.383 665.389,598.883 665.5,599.5 Z"/></g>
<g><path style="opacity:1" fill="#4c77a8" d="M 636.5,596.5 C 638.196,596.685 639.529,597.519 640.5,599C 639.009,601.022 639.342,602.688 641.5,604C 640.833,604.333 640.167,604.667 639.5,605C 641.715,606.044 644.048,606.71 646.5,607C 644.004,608.08 641.67,609.414 639.5,611C 640.094,611.464 640.761,611.631 641.5,611.5C 637.653,614.593 633.32,616.926 628.5,618.5C 627.85,618.196 627.183,617.863 626.5,617.5C 624.922,618.64 623.256,619.14 621.5,619C 621.833,618.667 622.167,618.333 622.5,618C 619.58,617.592 617.246,616.259 615.5,614C 618.865,608.535 617.865,607.368 612.5,610.5C 611.893,610.376 611.56,610.043 611.5,609.5C 619.676,604.912 628.009,600.578 636.5,596.5 Z"/></g>
<g><path style="opacity:1" fill="#4c7da8" d="M 628.5,618.5 C 625.202,620.485 621.869,622.485 618.5,624.5C 616.754,623.782 616.088,622.782 616.5,621.5C 611.603,622.941 610.603,621.608 613.5,617.5C 611.376,616.542 609.376,615.375 607.5,614C 609.932,612.913 609.598,612.413 606.5,612.5C 607.965,611.263 609.632,610.263 611.5,609.5C 611.56,610.043 611.893,610.376 612.5,610.5C 617.865,607.368 618.865,608.535 615.5,614C 617.246,616.259 619.58,617.592 622.5,618C 622.167,618.333 621.833,618.667 621.5,619C 623.256,619.14 624.922,618.64 626.5,617.5C 627.183,617.863 627.85,618.196 628.5,618.5 Z"/></g>
</svg>

					<div class="flex flex-col">
						<span class="text-xl md:text-2xl font-medium text-[#2c3e50]" style="font-family: 'Cormorant Garamond', serif;">LifeBridge Guidance</span>
						<span class="text-[10px] md:text-xs text-[#718096] tracking-wide hidden sm:block">Family Loss Concierge Services</span>
					</div>
				</a>

				<!-- Desktop Navigation -->
				<nav class="hidden md:flex items-center gap-8">
					<a href="#home" class="text-[#4a5568] hover:text-[#4a6b8a] transition-colors text-sm font-medium">Home</a>
					<a href="#services" class="text-[#4a5568] hover:text-[#4a6b8a] transition-colors text-sm font-medium">Services</a>
					<a href="#about" class="text-[#4a5568] hover:text-[#4a6b8a] transition-colors text-sm font-medium">About</a>
					<a href="/blog" class="text-[#4a5568] hover:text-[#4a6b8a] transition-colors text-sm font-medium">Blog</a>
					<a href="#contact" class="text-[#4a5568] hover:text-[#4a6b8a] transition-colors text-sm font-medium">Contact</a>
					<button 
						onclick={`Calendly.initPopupWidget({url: '${calendlyUrl}'});return false;`}
						class="bg-[#4a6b8a] hover:bg-[#3a5570] text-white px-5 py-2.5 rounded-md text-sm font-medium transition-all duration-300 hover:shadow-lg"
					>
						Book a Free Call
					</button>
				</nav>

				<!-- Mobile Menu Button -->
				<button id="mobile-menu-btn" class="md:hidden p-2 text-[#4a5568] hover:text-[#4a6b8a]">
					<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
					</svg>
				</button>
			</div>
		</div>

		<!-- Mobile Menu -->
		<div id="mobile-menu" class="hidden md:hidden bg-white border-t border-slate-200">
			<div class="px-4 py-4 space-y-3">
				<a href="#home" class="block text-[#4a5568] hover:text-[#4a6b8a] py-2">Home</a>
				<a href="#services" class="block text-[#4a5568] hover:text-[#4a6b8a] py-2">Services</a>
				<a href="#about" class="block text-[#4a5568] hover:text-[#4a6b8a] py-2">About</a>
				<a href="/blog" class="block text-[#4a5568] hover:text-[#4a6b8a] py-2">Blog</a>
				<a href="#contact" class="block text-[#4a5568] hover:text-[#4a6b8a] py-2">Contact</a>
				<button 
					onclick={`Calendly.initPopupWidget({url: '${calendlyUrl}'});return false;`}
					class="w-full bg-[#4a6b8a] hover:bg-[#3a5570] text-white px-5 py-2.5 rounded-md text-sm font-medium transition-all"
				>
					Book a Free Call
				</button>
			</div>
		</div>
	</header>

	<!-- ==================== HERO SECTION ==================== -->
	<section id="home" class="relative min-h-screen flex items-center">
		<!-- Background Image with Overlay - Misty Lake & Dock Scene -->
		<div class="absolute inset-0 z-0 overflow-hidden">
			<!-- Misty lake with wooden dock/pier extending into serene water -->
			<img 
				src="https://res.cloudinary.com/drqyjtqgu/image/upload/v1768373683/ChatGPT_Image_Jan_14_2026_12_23_23_PM_lbobe2.jpg"
				alt="Serene lake with wooden dock"
				class="w-full h-full object-cover"
				style="object-position: 75% 65%;"
			/>
			<!-- Soft gradient overlay - creates the ethereal misty effect with text readability on left -->
			<div class="absolute inset-0 bg-gradient-to-r from-[#f5f7f9]/[0.95] via-[#f0f4f8]/75 via-40% to-[#e8eef4]/20"></div>
			<!-- Subtle top overlay for depth and header readability -->
			<div class="absolute inset-0 bg-gradient-to-b from-[#f8f9fb]/50 via-transparent to-transparent"></div>
		</div>

		<div class="relative z-10 w-full max-w-7xl mx-auto px-6 sm:px-10 lg:px-16 pt-28 pb-16 md:pt-32 md:pb-24">
			<div class="max-w-xl lg:max-w-2xl">
				<!-- Main Headline -->
				<h1 class="text-[2.75rem] md:text-[3.5rem] lg:text-[4.25rem] text-[#3d5a73] leading-[1.1] mb-3 opacity-0 animate-fade-in-up" style="font-family: 'Cormorant Garamond', serif; font-weight: 400; letter-spacing: -0.02em;">
					White-glove guidance
				</h1>
				<!-- Subheadline -->
				<p class="text-[1.5rem] md:text-[1.875rem] lg:text-[2.25rem] text-[#7a9bb5] mb-8 leading-[1.2] opacity-0 animate-fade-in-up animation-delay-100" style="font-family: 'Cormorant Garamond', serif; font-weight: 400;">
					after the loss of a spouse or family member
				</p>
				
				<!-- Provider line -->
				<p class="text-base md:text-lg text-[#5a6d7a] mb-2 opacity-0 animate-fade-in-up animation-delay-200">
					<span class="font-medium">Provided by</span> <span class="italic text-[#6b8599]" style="font-family: 'Cormorant Garamond', serif; font-size: 1.1em;">a Family Loss Concierge</span>
				</p>
				
				<!-- Description -->
				<p class="text-[#6b7c8a] mb-10 max-w-md leading-relaxed opacity-0 animate-fade-in-up animation-delay-300">
					Helping you with what to do, when to do it, and who to trust—<br class="hidden sm:block" />
					so you don't have to navigate this alone.
				</p>

				<!-- CTA Buttons -->
				<div class="flex flex-col sm:flex-row gap-4 mb-8 opacity-0 animate-fade-in-up animation-delay-400">
					<button 
						onclick={`Calendly.initPopupWidget({url: '${calendlyUrl}'});return false;`}
						class="bg-[#4a6b8a] hover:bg-[#3a5570] text-white px-8 py-4 rounded font-medium transition-all duration-300 hover:shadow-xl hover:-translate-y-0.5 text-[15px]"
					>
						Book a Free 15-Minute Call
					</button>
					<a 
						href={`mailto:${contactEmail}`}
						class="border-2 border-[#4a6b8a]/70 text-[#4a6b8a] hover:bg-[#4a6b8a] hover:text-white hover:border-[#4a6b8a] bg-white/60 px-8 py-4 rounded font-medium transition-all duration-300 text-center text-[15px]"
					>
						Email Us
					</a>
				</div>

				<!-- Tagline -->
				<p class="text-sm text-[#7a8fa0] italic opacity-0 animate-fade-in-up animation-delay-500" style="font-family: 'Cormorant Garamond', serif; font-size: 1rem; letter-spacing: 0.02em;">
					Confidential. Compassionate. No pressure.
				</p>
			</div>
		</div>
	</section>

	<!-- ==================== FEATURES BAR ==================== -->
	<section class="bg-white border-y border-slate-200/50 py-8">
		<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="grid grid-cols-1 md:grid-cols-3 gap-6 md:gap-8">
				<!-- Feature 1 -->
				<div class="flex items-center justify-center gap-3 text-center md:text-left">
					<svg class="w-10 h-10 text-[#4a6b8a] flex-shrink-0" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8 36h32M12 36V20l12-8 12 8v16" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M20 36v-8h8v8" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<circle cx="24" cy="22" r="2" fill="currentColor"/>
					</svg>
					<span class="text-[#4a5568] font-medium">Step-by-step guidance</span>
				</div>

				<!-- Feature 2 -->
				<div class="flex items-center justify-center gap-3 text-center md:text-left">
					<svg class="w-10 h-10 text-[#4a6b8a] flex-shrink-0" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect x="8" y="12" width="32" height="24" rx="2" stroke="currentColor" stroke-width="2"/>
						<path d="M8 20h32M16 28h8M16 32h12" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
						<circle cx="36" cy="16" r="6" fill="currentColor" opacity="0.2" stroke="currentColor" stroke-width="2"/>
						<path d="M34 16l2 2 4-4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<span class="text-[#4a5568] font-medium">Coordination support</span>
				</div>

				<!-- Feature 3 -->
				<div class="flex items-center justify-center gap-3 text-center md:text-left">
					<svg class="w-10 h-10 text-[#4a6b8a] flex-shrink-0" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M24 42s-12-8-12-18c0-6.627 5.373-12 12-12s12 5.373 12 12c0 10-12 18-12 18z" stroke="currentColor" stroke-width="2" fill="none"/>
						<path d="M24 42s-8-5.333-8-12c0-4.418 3.582-8 8-8s8 3.582 8 8c0 6.667-8 12-8 12z" fill="currentColor" opacity="0.15"/>
					</svg>
					<span class="text-[#4a5568] font-medium">A steady, caring presence</span>
				</div>
			</div>
		</div>
	</section>

	<!-- ==================== EMAIL SIGNUP SECTION ==================== -->
	<section class="bg-gradient-to-br from-[#f5f7f9] to-[#e8eef4] py-12 md:py-16 border-y border-slate-200/50">
		<div class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="bg-white rounded-xl p-8 md:p-10 shadow-lg border border-slate-200/50">
				<div class="text-center mb-6">
					<h2 class="text-2xl md:text-3xl text-[#2c3e50] mb-3" style="font-family: 'Cormorant Garamond', serif; font-weight: 500;">
						Get Your Free Step by Step Guide
					</h2>
					<p class="text-[#718096] text-sm md:text-base">
						Receive a comprehensive guide to help you navigate this difficult time with clarity and confidence.
					</p>
				</div>
				
				<form id="email-signup-form" class="space-y-4">
					<div>
						<input
							type="email"
							id="email-input"
							name="email"
							placeholder="Enter your email address"
							required
							class="w-full px-4 py-3 rounded-md border border-slate-300 focus:outline-none focus:ring-2 focus:ring-[#4a6b8a] focus:border-transparent text-[#4a5568] placeholder:text-[#a0aec0] transition-all"
						/>
					</div>
					<button
						type="submit"
						class="w-full bg-[#4a6b8a] hover:bg-[#3a5570] text-white px-6 py-3 rounded-md font-medium transition-all duration-300 hover:shadow-lg hover:-translate-y-0.5"
					>
						Get Free Guide
					</button>
					<div id="form-message" class="text-sm text-center hidden"></div>
				</form>
			</div>
		</div>
	</section>

	<!-- ==================== MAIN MESSAGE + THREE PILLARS COMBINED SECTION ==================== -->
	<section id="about" class="relative overflow-hidden">
		<!-- Background Image - image_part_3.jpg spans the entire section -->
		<div class="absolute inset-0 z-0">
			<img 
				src="/image_part_3.jpg"
				alt="Misty mountains background"
				class="w-full h-full object-cover"
				style="object-position: center 60%;"
			/>
			<!-- Softer overlay to show more of the misty landscape -->
			<div class="absolute inset-0 bg-gradient-to-b from-white/55 via-white/45 to-white/35"></div>
		</div>

		<!-- Main Message -->
		<div class="relative z-10 pt-16 md:pt-24 pb-8 md:pb-12">
			<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
				<h2 class="text-3xl md:text-4xl lg:text-5xl text-[#2c3e50] mb-4" style="font-family: 'Cormorant Garamond', serif; font-weight: 400;">
					When everything changes, you shouldn't have<br class="hidden md:block" /> to figure it out alone.
				</h2>
				<div class="w-32 h-[1px] bg-[#4a6b8a]/40 mx-auto mb-4"></div>
				<p class="text-lg text-[#4a5568]">
					We bring order, clarity, and support—<em class="text-[#4a6b8a]" style="font-family: 'Cormorant Garamond', serif;">one step at a time.</em>
				</p>
			</div>
		</div>

		<!-- Three Pillars -->
		<div id="services" class="relative z-10 py-12 md:py-16">
			<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="grid grid-cols-1 md:grid-cols-3 gap-6 lg:gap-8">
				
				<!-- Stabilize Card -->
				<div class="bg-white rounded-xl p-8 shadow-sm hover:shadow-lg transition-shadow duration-300 border border-slate-200/50">
					<div class="flex justify-center mb-6">
						<svg class="w-16 h-16 text-[#4a6b8a]" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12 48h40M16 48V28l16-12 16 12v20" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M26 48V38h12v10" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
							<rect x="22" y="28" width="6" height="6" stroke="currentColor" stroke-width="2"/>
							<rect x="36" y="28" width="6" height="6" stroke="currentColor" stroke-width="2"/>
						</svg>
					</div>
					<h3 class="text-2xl text-center text-[#2c3e50] mb-3" style="font-family: 'Cormorant Garamond', serif; font-weight: 500;">
						Stabilize
					</h3>
					<p class="text-center text-[#718096] mb-6 text-sm">
						Immediate guidance and support
					</p>
					<ul class="space-y-3">
						<li class="flex items-start gap-3">
							<svg class="w-5 h-5 text-[#4a6b8a] flex-shrink-0 mt-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
							</svg>
							<span class="text-[#4a5568] text-sm">What not to do right away</span>
						</li>
						<li class="flex items-start gap-3">
							<svg class="w-5 h-5 text-[#4a6b8a] flex-shrink-0 mt-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
							</svg>
							<span class="text-[#4a5568] text-sm">Who to notify and who can wait</span>
						</li>
						<li class="flex items-start gap-3">
							<svg class="w-5 h-5 text-[#4a6b8a] flex-shrink-0 mt-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
							</svg>
							<span class="text-[#4a5568] text-sm">Protecting cash flow & benefits</span>
						</li>
					</ul>
				</div>

				<!-- Organize Card -->
				<div class="bg-white rounded-xl p-8 shadow-sm hover:shadow-lg transition-shadow duration-300 border border-slate-200/50">
					<div class="flex justify-center mb-6">
						<svg class="w-16 h-16 text-[#4a6b8a]" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect x="10" y="14" width="44" height="36" rx="2" stroke="currentColor" stroke-width="2.5"/>
							<path d="M10 24h44" stroke="currentColor" stroke-width="2.5"/>
							<path d="M18 34h20M18 42h28M18 50h16" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
							<rect x="40" y="8" width="14" height="14" rx="2" fill="currentColor" opacity="0.15" stroke="currentColor" stroke-width="2"/>
							<path d="M44 15l3 3 5-5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</div>
					<h3 class="text-2xl text-center text-[#2c3e50] mb-3" style="font-family: 'Cormorant Garamond', serif; font-weight: 500;">
						Organize
					</h3>
					<p class="text-center text-[#718096] mb-6 text-sm">
						Accounts, documents, and tasks in order
					</p>
					<ul class="space-y-3">
						<li class="flex items-start gap-3">
							<svg class="w-5 h-5 text-[#4a6b8a] flex-shrink-0 mt-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
							</svg>
							<span class="text-[#4a5568] text-sm">Financial accounts & beneficiaries</span>
						</li>
						<li class="flex items-start gap-3">
							<svg class="w-5 h-5 text-[#4a6b8a] flex-shrink-0 mt-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
							</svg>
							<span class="text-[#4a5568] text-sm">Bills, income, and benefits</span>
						</li>
						<li class="flex items-start gap-3">
							<svg class="w-5 h-5 text-[#4a6b8a] flex-shrink-0 mt-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
							</svg>
							<span class="text-[#4a5568] text-sm">Executor and paperwork coordination</span>
						</li>
					</ul>
				</div>

				<!-- Rebuild Card -->
				<div class="bg-white rounded-xl p-8 shadow-sm hover:shadow-lg transition-shadow duration-300 border border-slate-200/50">
					<div class="flex justify-center mb-6">
						<svg class="w-16 h-16 text-[#4a6b8a]" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M8 48l18-20 10 8 20-24" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M42 12h14v14" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
							<circle cx="26" cy="36" r="3" fill="currentColor" opacity="0.3"/>
							<path d="M8 52h48" stroke="currentColor" stroke-width="2" stroke-linecap="round" opacity="0.5"/>
						</svg>
					</div>
					<h3 class="text-2xl text-center text-[#2c3e50] mb-3" style="font-family: 'Cormorant Garamond', serif; font-weight: 500;">
						Rebuild
					</h3>
					<p class="text-center text-[#718096] mb-6 text-sm">
						Planning for the path ahead
					</p>
					<ul class="space-y-3">
						<li class="flex items-start gap-3">
							<svg class="w-5 h-5 text-[#4a6b8a] flex-shrink-0 mt-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
							</svg>
							<span class="text-[#4a5568] text-sm">Decision timing guidance</span>
						</li>
						<li class="flex items-start gap-3">
							<svg class="w-5 h-5 text-[#4a6b8a] flex-shrink-0 mt-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
							</svg>
							<span class="text-[#4a5568] text-sm">When to sell, move, or invest</span>
						</li>
						<li class="flex items-start gap-3">
							<svg class="w-5 h-5 text-[#4a6b8a] flex-shrink-0 mt-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
							</svg>
							<span class="text-[#4a5568] text-sm">Rebuilding confidence and clarity</span>
						</li>
					</ul>
				</div>

			</div>
			</div>
		</div>
	</section>

	<!-- ==================== CORE SERVICES SECTION ==================== -->
	<section class="relative overflow-hidden">
		<!-- Background Image - image_part_2.jpg for middle section -->
		<div class="absolute inset-0 z-0 overflow-hidden">
			<img 
				src="/image_part_2.jpg"
				alt="Misty lake and mountains"
				class="w-full h-full object-cover scale-[1.3]"
				style="object-position: center 55%;"
			/>
			<!-- Light overlay for readability while showing the landscape -->
			<div class="absolute inset-0 bg-gradient-to-b from-white/45 via-white/25 to-white/35"></div>
		</div>

		<div class="relative z-10 py-16 md:py-24">
			<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
				<!-- Decorative line -->
				<div class="w-16 h-[2px] bg-[#4a6b8a]/50 mx-auto mb-6"></div>
				
				<!-- Main Title -->
				<h2 class="text-3xl md:text-4xl text-[#2c3e50] mb-8" style="font-family: 'Cormorant Garamond', serif; font-weight: 400;">
					Family Loss Concierge Services
				</h2>

				<!-- Subtitle -->
				<p class="text-lg md:text-xl text-[#2c3e50] mb-2" style="font-family: 'Cormorant Garamond', serif; font-weight: 600;">
					LifeBridge Core Support <span class="text-[#718096] font-normal">|</span> <em class="text-[#6b8599] font-normal">A 6-Month Family Loss Concierge Program</em>
				</p>

				<!-- Bullet Points - centered container with left-aligned text -->
				<div class="max-w-md mx-auto mt-8 mb-10">
					<ul class="space-y-3 text-left">
						<li class="flex items-start gap-3">
							<svg class="w-5 h-5 text-[#4a6b8a] flex-shrink-0 mt-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
							</svg>
							<span class="text-[#4a5568]">Personalized, one-on-one guidance</span>
						</li>
						<li class="flex items-start gap-3">
							<svg class="w-5 h-5 text-[#4a6b8a] flex-shrink-0 mt-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
							</svg>
							<span class="text-[#4a5568]">Benefit and claim assistance</span>
						</li>
						<li class="flex items-start gap-3">
							<svg class="w-5 h-5 text-[#4a6b8a] flex-shrink-0 mt-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
							</svg>
							<span class="text-[#4a5568]">Financial and document organization</span>
						</li>
						<li class="flex items-start gap-3">
							<svg class="w-5 h-5 text-[#4a6b8a] flex-shrink-0 mt-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
							</svg>
							<span class="text-[#4a5568]">Attorney, CPA, and advisor coordination</span>
						</li>
					</ul>
				</div>

				<!-- Disclaimer -->
				<p class="text-sm text-[#718096] italic max-w-2xl mx-auto">
					All services are delivered through a dedicated Family Loss Concierge—not a call center, not a rotating team.
				</p>
			</div>
		</div>
	</section>

	<!-- ==================== YOU'RE NOT ALONE SECTION ==================== -->
	<section id="contact" class="relative overflow-hidden">
		<!-- Background Image - image_part_3.jpg for bottom section -->
		<div class="absolute inset-0 z-0 overflow-hidden">
			<img 
				src="/image_part_3.jpg"
				alt="Misty mountains"
				class="w-full h-full object-cover scale-[1.3]"
				style="object-position: center 55%;"
			/>
			<!-- Softer overlay to show more of the misty mountains -->
			<div class="absolute inset-0 bg-gradient-to-b from-white/50 via-white/40 to-white/35"></div>
		</div>

		<div class="relative z-10 py-16 md:py-24">
			<div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
				<div class="flex items-center justify-center gap-4 mb-6">
					<div class="w-12 h-[1px] bg-[#4a6b8a]/40"></div>
					<div class="w-12 h-[1px] bg-[#4a6b8a]/40"></div>
				</div>
				<h2 class="text-3xl md:text-4xl text-[#2c3e50] mb-8" style="font-family: 'Cormorant Garamond', serif; font-weight: 400;">
					You're not alone.
				</h2>

				<div class="space-y-4 mb-10 text-left max-w-md mx-auto">
					<div class="flex items-start gap-3">
						<svg class="w-5 h-5 text-[#4a6b8a] flex-shrink-0 mt-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
						</svg>
						<span class="text-[#4a5568]">Feeling overwhelmed by what to do next?</span>
					</div>
					<div class="flex items-start gap-3">
						<svg class="w-5 h-5 text-[#4a6b8a] flex-shrink-0 mt-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
						</svg>
						<span class="text-[#4a5568]">Need help managing the details and decisions?</span>
					</div>
					<div class="flex items-start gap-3">
						<svg class="w-5 h-5 text-[#4a6b8a] flex-shrink-0 mt-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
						</svg>
						<span class="text-[#4a5568]">Looking for steady, compassionate support you can trust?</span>
					</div>
				</div>

				<p class="text-[#718096] text-sm mb-10 max-w-xl mx-auto">
					Lifebridge Guidance provides education, organization, and care coordination services. Family Loss Concierge services do not provide legal, tax, or financial advice. Talk to someone who understands.
				</p>

				<div class="flex flex-col sm:flex-row items-center justify-center gap-4 mb-6">
					<button 
						onclick={`Calendly.initPopupWidget({url: '${calendlyUrl}'});return false;`}
						class="bg-[#4a6b8a] hover:bg-[#3a5570] text-white px-8 py-3.5 rounded-md font-medium transition-all duration-300 hover:shadow-xl hover:-translate-y-0.5"
					>
						Book a Free 15-Minute Call
					</button>
					<div class="flex items-center gap-2 text-[#4a5568]">
						<span>or email us:</span>
						<a href={`mailto:${contactEmail}`} class="flex items-center gap-2 text-[#4a6b8a] hover:text-[#3a5570] transition-colors">
							<svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
							</svg>
							{contactEmail}
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- ==================== FOOTER ==================== -->
	<footer class="bg-[#f5f7f9] border-t border-slate-200 py-8">
		<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="flex flex-col md:flex-row items-center justify-between gap-6">
				<!-- Logo -->
				<div class="flex items-center gap-2">
					<svg class="w-8 h-8" viewBox="0 0 1536 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill="#4f7ca8" d="M631.5 367.5q-5.244-1.884-9.5 2a4.46 4.46 0 0 0-1.5-2 30 30 0 0 0-5 2 3.65 3.65 0 0 0 1 1.5q-1.374.417-2 1.5a101.3 101.3 0 0 0-21-10 54.6 54.6 0 0 0-9 4q-1.647-1.345 0-2.5-3-1-4-4-2.719.07-5-.5a18 18 0 0 0-3.5 2 2.43 2.43 0 0 1-.5-2q10.283-7.265 22.5-11a659 659 0 0 1 37.5 19"/>
						<path fill="#4c77a7" d="M571.5 359.5a2.43 2.43 0 0 0 .5 2 18 18 0 0 1 3.5-2q2.281.57 5 .5 1 3 4 4-1.647 1.155 0 2.5a113.5 113.5 0 0 1-18 9q-1.983.255-3.5-1-3.48 4.379-8.5 3-1.386-2.835-4-4.5a19 19 0 0 1 5-3q-1.374-.417-2-1.5a113.5 113.5 0 0 1 18-9"/>
						<path fill="#4d77a8" d="M787.5 368.5a874 874 0 0 0 42 1.5l-18 1q-4.456 1.629-5 6.5-3.148-3.051-7-1-2 1.5 0 3a25.9 25.9 0 0 1-10 1v3q-8.367 1.731-4-4.5l-1-1a15.4 15.4 0 0 1 6-3q1.711-1.112 0-2.5a42.5 42.5 0 0 0-13.5-2q-9.507 1.365-18.5 0 14.433-1.079 29-2"/>
						<path fill="#507ca7" d="M787.5 368.5a635 635 0 0 1 108 6.5 316 316 0 0 1 34 7.5q-5.053 5.21-2.5 12a4.93 4.93 0 0 0 .5-3q6.151.447 8-5a6.85 6.85 0 0 0 4-1q3.408 3.226 8 4.5 3.015 3.56 6 7l-2 1a16.5 16.5 0 0 1 5.5 3.5q2.582-3.327 6.5-5a7.25 7.25 0 0 0-2-2.5l1-1q3.207.838 6-.5c79.29 25.129 149.96 64.963 212 119.5-29.31-19.847-59.64-38.514-91-56-76.62-40.986-158.291-64.319-245-70a638 638 0 0 0-74 2 2713 2713 0 0 0-63 7 516 516 0 0 1-27-14 628 628 0 0 1 78-10.5q8.993 1.365 18.5 0 6.925-.09 13.5 2 1.711 1.388 0 2.5a15.4 15.4 0 0 0-6 3l1 1q-4.367 6.231 4 4.5v-3q5.097.48 10-1-2-1.5 0-3 3.852-2.051 7 1 .544-4.871 5-6.5l18-1a874 874 0 0 1-42-1.5"/>
						<path fill="#4b76a7" d="M929.5 382.5a320 320 0 0 1 39 10q-2.793 1.338-6 .5l-1 1a7.25 7.25 0 0 1 2 2.5q-3.918 1.673-6.5 5a16.5 16.5 0 0 0-5.5-3.5l2-1a755 755 0 0 1-6-7q-4.592-1.274-8-4.5a6.85 6.85 0 0 1-4 1q-1.849 5.447-8 5a4.93 4.93 0 0 1-.5 3q-2.553-6.79 2.5-12"/>
						<path fill="#4d7aa8" d="M553.5 368.5q.626 1.083 2 1.5a19 19 0 0 0-5 3q2.614 1.665 4 4.5 5.02 1.379 8.5-3 1.517 1.255 3.5 1a2850 2850 0 0 0-89 47.5a84713 84713 0 0 1 43 23.5q-.549 1.792-2.5 2-5.273.633-9-4-7.848 3.146-4.5 10a588 588 0 0 0-34-17q4.068-3.428-1-2a16.1 16.1 0 0 1-5-2.5 36.4 36.4 0 0 0 8-4 4.46 4.46 0 0 1-2-1.5q.16-5.326 2-11 7.239-.335 15-1.5-7.505-5.424-15.5-1.5-1.006-1.129-2.5-1 41.901-21.953 84-44"/>
						<path fill="#4b76a7" d="M593.5 393.5a47.8 47.8 0 0 1 15 2.5q4.884 1.674 8 5.5a2.43 2.43 0 0 0-2 .5q2.98 1.978 3.5 5.5 1.37-1.73 2.5.5-1.8 4.015-5 0-2-1-4 0 2 2.76-.5 1.5a4.93 4.93 0 0 0-.5 3q-9.827.077-14-9a4.46 4.46 0 0 0-1.5 2 7.25 7.25 0 0 0-2.5-2q-1.712 2.881-.5 6 7.27 5.053 2 12-.917-5.658-3 0-3.835-1.719-4 3-1.566-1.684-2-4a38.9 38.9 0 0 0-6 14q-6.67 10.203-14 1a67 67 0 0 1-2.5-6q1.635-2.254 3.5-1 3.838-15.455 13.5-28.5l-1-1q2.44.293 5 0 .645-1.38 1-2.5 1.561 3.736 2.5 0 3.286 1.07 7 1 .673-2.586 2.5-2a44 44 0 0 1-3-2"/>
						<path fill="#4c77a3" d="M593.5 393.5a44 44 0 0 0 3 2q-1.827-.586-2.5 2-3.714.07-7-1-.939 3.736-2.5 0a21 21 0 0 1-1 2.5 21.4 21.4 0 0 1-5 0l1 1q-9.662 13.045-13.5 28.5-1.865-1.254-3.5 1a67 67 0 0 0 2.5 6q7.33 9.203 14-1a38.9 38.9 0 0 1 6-14q.434 2.316 2 4 .165-4.719 4-3 2.083-5.658 3 0 5.27-6.947-2-12-1.212-3.119.5-6a7.25 7.25 0 0 1 2.5 2 4.46 4.46 0 0 1 1.5-2q4.173 9.077 14 9a4.93 4.93 0 0 1 .5-3q2.5 1.26.5-1.5 2-1 4 0 3.2 4.015 5 0-1.13-2.23-2.5-.5-.52-3.522-3.5-5.5a2.43 2.43 0 0 1 2-.5q14.7 9.428 11.5 27-11.992 26.632-41.5 22.5-30.717-6.693-25.5-37.5 9.733-20.495 32.5-20"/>
					</svg>
					<div class="flex flex-col">
						<span class="text-lg text-[#2c3e50]" style="font-family: 'Cormorant Garamond', serif; font-weight: 500;">LifeBridge Guidance</span>
						<span class="text-[10px] text-[#718096]">Family Loss Concierge</span>
					</div>
				</div>

				<!-- Links -->
				<div class="flex items-center gap-6 text-sm">
					<a href="#" class="text-[#4a5568] hover:text-[#4a6b8a] transition-colors">Privacy Policy</a>
					<span class="text-slate-300">|</span>
					<a href="#" class="text-[#4a5568] hover:text-[#4a6b8a] transition-colors">Terms of Service</a>
				</div>

				<!-- Disclaimer -->
				<p class="text-xs text-[#a0aec0] text-center md:text-right max-w-xs">
					Education & Guidance. Not Legal, or tax advice.
				</p>
			</div>
		</div>
	</footer>

	<!-- Mobile Menu Toggle Script -->
	<script>
		const menuBtn = document.getElementById('mobile-menu-btn');
		const mobileMenu = document.getElementById('mobile-menu');
		
		menuBtn?.addEventListener('click', () => {
			mobileMenu?.classList.toggle('hidden');
		});

		// Close mobile menu when clicking on a link
		const mobileLinks = mobileMenu?.querySelectorAll('a');
		mobileLinks?.forEach(link => {
			link.addEventListener('click', () => {
				mobileMenu?.classList.add('hidden');
			});
		});

		// Email signup form handling
		const emailForm = document.getElementById('email-signup-form');
		const emailInput = document.getElementById('email-input');
		const formMessage = document.getElementById('form-message');
		
		emailForm?.addEventListener('submit', async (e) => {
			e.preventDefault();
			
			const email = emailInput?.value.trim();
			if (!email) return;
			
			// Disable form during submission
			const submitBtn = emailForm.querySelector('button[type="submit"]');
			if (submitBtn) {
				submitBtn.disabled = true;
				submitBtn.textContent = 'Sending...';
			}
			
			formMessage?.classList.add('hidden');
			
			try {
				const response = await fetch('/api/subscribe', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({ email }),
				});
				
				const data = await response.json();
				
				if (response.ok) {
					formMessage?.classList.remove('hidden');
					formMessage?.classList.remove('text-red-600');
					formMessage?.classList.add('text-green-600');
					formMessage.textContent = 'Thank you! Check your email for your free guide.';
					emailForm.reset();
				} else {
					throw new Error(data.error || 'Something went wrong');
				}
			} catch (error) {
				formMessage?.classList.remove('hidden');
				formMessage?.classList.remove('text-green-600');
				formMessage?.classList.add('text-red-600');
				formMessage.textContent = error.message || 'Something went wrong. Please try again.';
			} finally {
				if (submitBtn) {
					submitBtn.disabled = false;
					submitBtn.textContent = 'Get Free Guide';
				}
			}
		});
	</script>
</Layout>